<!DOCTYPE html>
<html lang="it" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>BoolzApp</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    </head>
    <body>
        <div id="wrapper">
            <div class="css-background-top">

            </div>

            <div id="root">

                <div class="boolzapp-box">

                    <div class="boolzapp-box-left">

                        <div class="user">
                            <div class="contact-logo">
                                <img :src=" 'img/avatar_1.png' " alt="">
                            </div>
                            <div class="links">
                                <i class="fas fa-spinner"></i>
                                <i class="far fa-comment-alt"></i>
                                <div class="options">
                                    <div class="circle">

                                    </div>
                                    <div class="circle">

                                    </div>
                                    <div class="circle">

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="notifications">
                            <div class="img_notifications">
                                <i class="fas fa-bell-slash fa-2x"></i>
                            </div>
                            <div class="receive_notifications">
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <a href="#"><small>Attiva notifiche desktop</small></a>
                            </div>
                        </div>

                        <div class="search">

                            <button type="button" name="button">
                                <img src="img/searchbutton.png" alt="">
                            </button>

                            <input v-on:keyup="search" v-model="search_text" type="text" name="input_text" placeholder="  Cerca">
                        </div>

                        <div class="contact">
                            <div @click="change(index)" class="contacts" v-for="(contact,index) in contacts" v-if="contact.visible">

                                <div class="contact-logo">
                                    <img :src=" 'img/avatar' + contact.avatar + '.png' ">
                                </div>

                                <div class="contact-info">
                                    <div class="contact-info-container">
                                        <span class="contact-names">{{ contact.name }}</span>
                                    </div>
                                    <small>Ultimo messaggio inviato.</small>
                                </div>
                                <span class="time f-right">12:00</span>
                            </div>
                        </div>

                    </div>

                    <div class="boolzapp-box-right">

                        <div class="friend">
                            <div class="friend-left">
                                <div class="contact-logo">
                                    <img :src=" 'img/avatar' + contacts[contactActive].avatar + '.png' " alt="">
                                </div>
                                <div class="info_friend">
                                    <p>{{contacts[contactActive].name}}.</p>
                                    <small>Ultimo accesso alle ore: 15:40.</small>
                                </div>

                            </div>
                        <div class="friend-right">
                            <div class="friend_options">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <div class="options">
                                    <div class="circle">

                                    </div>
                                    <div class="circle">

                                    </div>
                                    <div class="circle">

                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="chat">

                            <div v-for="(message,index) in contacts[contactActive].messages" class="message" :class='getMessageClass(index)'>
                                <p>{{message.message}}</p>
                                <p>{{message.date}}</p>
                            </div>

                        </div>

                        <div class="send-zone">
                            <i class="far fa-smile fa-2x"></i>
                            <input v-model="newMessage" v-on:keyup.enter="add_message(newMessage),setTimeout(add_message_friend, 1000)" type="text" placeholder="Scrivi un messaggio">
                            <i class="fas fa-microphone fa-2x"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>

        <script src="main.js" charset="utf-8"></script>
    </body>
</html>
