* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #D6DBD5;
    justify-content: center;
    position: relative;
}

.css-background-top {
    height: 25vh;
    background-color: #009788;
    z-index: 0;
    position: absolute;
    width: 100%;
    top: 0;
}

#root {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 85%;
    margin: 0 auto;
    z-index: 1;
}

.boolzapp-box {
    display: flex;
    flex-grow: 1;
}

.boolzapp-box-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.boolzapp-box-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
}

.user {
    height: 10%;
    width: 100%;
    background-color: #EDEDED;
}

.notifications {
    height: 20%;
    width: 100%;
    background-color: #9DE1FE;
}

.search {
    height: 10%;
    width: 100%;
    background-color: #F6F6F6;
}

.contact {
    height: 60%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

.contacts {
    border-bottom: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 70px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-logo img {
    height: 55px;
    width: 55px;
    border-radius: 100%;
}

.contacts > span {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts:first-child {
    border-top: 1px solid #F2F2F2;
}

.friend {
    height: 10%;
    width: 100%;
    background-color: #EDEDED;
}


.chat {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-image: url("img/background-whatsapp.png");
}

.message {

    padding: 10px;
    max-width: 240px;
    margin-bottom: 10px;
    border-radius: 7px;
    margin-top: 20px;
    clear: both;

}

.sent {

    background-color: lightgreen;
    float: right;
    margin-right: 105px;

}

.received {

    background-color: white;
    margin-left: 105px;
    float: left;

}

.send-zone {
    height: 15%;
    width: 100%;
    background-color: #EDEDED;
}
